LOCAL_REDIS_URL=redis://localhost:6379 or whatever your local redis uses, for local testing
REDISCLOUD_URL=this one is set up for you when you add RedisCloud
OUTGOING_WEBHOOK_TOKEN=123456
BOT_USERNAME=trebekbot or whatever you set as the outgoing webhook trigger word
API_TOKEN=get it at api.slack.com
SIMILARITY_THRESHOLD=0.5
SECONDS_TO_ANSWER=30
CHANNEL_BLACKLIST=general