<p>I don’t have a fancy privacy policy full of legalese written by an expensive lawyer, so here’s my plain language privacy policy: <em>Trebekbot only stores the minimum amount of data about your Slack workspace and its users needed to play the game</em>.</p>

<p>Specifically, Trebekbot stores in its database:</p>

<ul>
  <li>The Slack ID of your workspace and an access token granted when you authorized the app. It needs this so it can interact with your Slack, for example, by sending messages when people @mention the app.</li>
  <li>The channel and timestamp of the messages containing the games, and their question, answer, category, and value. It needs this so it can update the messages when users submit answers, and post threaded messages in those games.</li>
  <li>The Slack ID of anyone who submits answers to a Trebekbot game, the contents of those answers, and their accumulated scores. It needs this so it can check if the answers are correct, and keep track of scores and streaks. It doesn’t store any personally identifiable information about its users, such as emails and IP addresses, nor is it able to see them. While Trebekbot shows users’ names and profile pictures in scoreboards, that data is not stored in the database.</li>
  <li>Importantly, if you uninstall Trebekbot from your Slack, all this information gets immediately deleted from Trebekbot’s database.</li>
</ul>
