<div class="relative py-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Success!</span>
      </h1>

    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
      <p>Excellent! Now all you have to do is invite @trebekbot to a Slack channel, then type “@trebekbot help” to get a list of commands.</p>
<p>(Tip: Create a new channel just for this, so your work isn’t totally disrupted by the bot.)</p>
    </div>
  </div>
</div>
