.content {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'IBM Plex Mono', monospace;
  padding: 1.5rem;

  h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
  }

  p, ul {
    font-size: 16px;
    line-height: 1.5;
    margin: 1.5rem 0 0 0;
    text-align: center;
  }

  ul li {
    list-style-type: disc;
  }

  img {
    max-width: 50%;
  }

  &--privacy {
    p, ul {
      text-align: left;
    }
  }
}
