@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@import 'vendors/reset';
@import 'content';
@import 'footer';

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
}
