<!DOCTYPE html>
<html>
  <head>
    <title>Trebekbot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex">
    <meta name="slack-app-id" content="A039RFAS6Q5">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div class="content">
      <h1>Trebekbot</h1>
      <%= yield %>
    </div>
  </body>
</html>
